<html>
	<head>
		<title>Welcome to Blog</title>
		<link href="https://fonts.googleapis.com/css?family=Calistoga|Josefin+Sans|Poppins|Roboto+Mono|Ubuntu&display=swap" rel="stylesheet">
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/assets/stylesheets/main.css">
	</head>
	<body>
		<div class="container-fluid">
			<nav class="nav navbar-expand-lg navbar-dark fixed-top">
				<div class="collapse navbar-collapse" id="navbarText">
					<ul class="navbar-nav mr-auto">
						<li>
							<a class="navbar-brand nav-item" href="#">Blog</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="/">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/addPost">Add article</a>
						</li>
					</ul>
					<ul class="navbar-nav">
						<% if(logged) { %>
						<li class="nav-item">
							<img src="<%= user.avatar %>" alt="avatar" class="user_avatar" >
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/account">
								Welcome <%= user.title %> <%= user.first_name %> <%= user.last_name %>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/user/logout">
								Logout <i class="fas fa-sign-out-alt"></i>
							</a>
						</li>
						<% } else { %>
						<li class="nav-item">
							<a class="nav-link" href="/login">
								Log in <i class="fas fa-sign-in-alt"></i>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/signup">
								Sign up <i class="fas fa-user-plus"></i>
							</a>
						</li>
						<% } %>
					</ul>
				</div>
			</nav>
			<div class="row d-flex flex-row">
				<div class="col-3">
					<ul class="list-group">
						<% posts.forEach(function(post) { %>
							<% var date = new Date(post.post_date) %>
							<li class="m-md-2 list-item">
								<a href="/<%= post.post_id %>">
									<img class="thumb" src="<%= post.thumb %>" width="100px" height="100px" >
									<div class=" py-2 px-lg-3 item">
										<span class="title">
											<%= post.post_title %>
										</span>
										<span class="date">
											<%= date.getHours() + ':' + date.getMinutes() + ':' + date.getSeconds() + ' ' + date.toDateString() %>
										</span>
									</div>
								</a>
							</li>
						<% }); %>
					</ul>
				</div>
				
				<div class="article col">
					<% if( postData != null) { %>
					<% var date = postData.post_date %>
					<% var dd = date.getDate();  %>
					<% var mm = date.getMonth() + 1; %>
					<% var yyyy = date.getFullYear(); %>
					<% if (dd < 10) { %>
					<% 	dd = '0' + dd; %>
					<% }  %>
					<% if (mm < 10) { %>
					<% 	mm = '0' + mm; %>
					<% }  %>
					<% var date = dd + '/' + mm + '/' + yyyy; %>
					<div id="post">
						<h1><%= postData.post_title %></h1>
						<div><%- postData.post_content %></div>
						<div class="author mr-2 row justify-content-end">
							<table>
								<tr>
									<td class="avatar-container" rowspan="2">
										<img class="a-avatar" src="<%= postData.avatar %>">
									</td>
									<td>
										<div>
											<%= postData.first_name + ' ' + postData.last_name %>
										</div>
										<div>
											<%= date %>
										</div>
									</td>
								</tr>							
							</table>
						</div>
					</div>
					<br />
					<div class="comments">
						<% commentData.forEach(function(comment) { %>
						<% var date = comment.date %>
						<% var dd = date.getDate();  %>
						<% var mm = date.getMonth() + 1; %>
						<% var yyyy = date.getFullYear(); %>
						<% if (dd < 10) { %>
						<% 	dd = '0' + dd; %>
						<% }  %>
						<% if (mm < 10) { %>
						<% 	mm = '0' + mm; %>
						<% }  %>
						<% var date = dd + '/' + mm + '/' + yyyy; %>
						<hr />
						<div>
							<table cellpadding="5" style="width:100%">
								<tr>
									<td class="avatar-container">
										<img class="avatar" src="<%= comment.avatar %>">
									</td>
									<td style="width:100%">
										<table style="width:100%">
											<tr>
												<td class="name"><%= comment.first_name %> <%= comment.last_name %></td>
												<td style="width:100%" class="username">@<%= comment.user_name %></td>
												<td class="date"><%= date %></td>
											</tr>
											<tr>
												<td colspan="3"><%= comment.comment_content %></td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</div>
						<% }); %>
					</div>
					<hr />
					<div id="addComment">
						<h1 id="cmnt">What do you think ?</h1>
						<form method="POST" action="" class="form-group ">
							<div class="form-group">
								<textarea placeholder="Write something . . ." name="comment_content" class="form-control" rows="6"></textarea>
							</div>
							<input type="submit" value="Submit" class="btn btn-dark">
							<input type="reset" value="Reset" class="btn btn-dark">
						</form>
					</div>
					<% } else {%>
						<h1 class="nothing">Click on an article Or log in and write yours :)</h1>
					<% }%>
				</div>
			</div>
			<footer>
				<div id="footer">
					<p></p>
				</div>
			</footer>
		</div>
		<script src="https://kit.fontawesome.com/a34e3c0522.js" crossorigin="anonymous"></script>
		<script type="text/javascript" src="/assets/js/jQuery3.3.1.js"></script>
		<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	</body>
</html>