<html>
	<head>
		<title>Welcome to Blog</title>
		<link rel="stylesheet" type="text/css" href="/assets/stylesheets/main.css">
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
		<script type="text/javascript" src="/assets/js/jQuery3.3.1.js"></script>
	</head>
	<body>
		<!--<div id="loading">Loading ... </div>-->
		<div id="container">
			<nav>
				<table>
					<tr>
						<td id="selected"><a href="/">Home</a></td>
						<td><a href="/assets/addArticle.html">Add article</a></td>
						<td><a href="/assets/about.html">About</a></td>
					</tr>
				</table>
			</nav>
			<article>
                <% posts.forEach(function(post) { %>
                    <% var date = new Date(post.post_date) %>
                    <% var content = post.post_content.substring(0,50) + "..." %>
                    <div class="article">
                        <strong class="title">
                            <%= post.post_title %>
                        </strong>
                        <i class="author">
                            <%= post.post_id %>
                        </i>
                        <i class="date">
                            <%= date.getHours() + ':' + date.getMinutes() + ':' + date.getSeconds() + ' ' + date.toDateString() %>
                        </i>
                        <p class="content">
                            <%= content %> 
                        </p>
                        <a href="">
                            <b class="readMore">
                                <a href="/post/<%= post.post_id %>">readMore...</a>
                            </b>
                        </a>
                    </div>
                <% }); %>
			</article>
			<footer>
				<div id="footer">
					<p></p>
				</div>
			</footer>
		</div>
	</body>
</html>