<html>
	<head>
		<title>Welcome to Blog</title>
		<link rel="stylesheet" type="text/css" href="/assets/stylesheets/main.css">
		<link rel="stylesheet" type="text/css" href="/assets/stylesheets/post.css">
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
		<script type="text/javascript" src="/assets/js/jQuery3.3.1.js"></script>
	</head>
	<body>
		<div id="container">
			<nav>
				<table>
					<tr>
						<td><a href="/">Home</a></td>
						<td><a href="/assets/addArticle.html">Add article</a></td>
						<td><a href="/assets/about.html">About</a></td>
					</tr>
				</table>
			</nav>
			<article>
				<div id="post">
					<h1 id="postTitle"><%= postData.post_title %></h1>
					<p id="postContent"><%= postData.post_content %></p>
					<hr>
					<i id="postAuthor"><%= postData.user_name %></i>
					<i id="postDate"><%= postData.post_date %></i>
				</div>
				<hr>
				<div id="comments">
                    <% commentData.forEach(function(comment) { %>
                    <%     var date = comment.date %>
                    <div class="comment">
                        <div class="commentInfo">
                            <i>
                                <strong>Date: </strong>
                                <%= date.getHours() + ':' + date.getMinutes() + ':' + date.getSeconds() + ' ' + date.toDateString() %>
                            </i>
                            <i>
                                <strong>Author: </strong>
                                <%= comment.user_name %>
                            </i>
                            <i>
                                <strong>Email: </strong>
                                <%= comment.user_email %>
                            </i>
                        </div>
                        <div class="commentContent">
                            <p><%= comment.comment_content %></p>
                        </div>
                    </div>
                    <% }); %>
				</div>
				<div id="addComment">
					<h1>Write new comment</h1>
					<form id="commentForm" method="POST" action="">
						<div>
							<label class="formContent">Author:</label><br>
							<input type="text" name="author">
						</div>
						<div>
							<label class="formContent">Email:</label><br>
							<input type="text" name="email">
						</div>
						<div>
							<label class="formContent">Content:</label><br>
							<textarea name="content"></textarea>
						</div>
						<div>
							<input type="submit" value="Submit">
							<input type="reset" value="Reset">
						</div>
					</form>
				</div>
			</article>
			<footer>
				<div id="footer">
					<p></p>
				</div>
			</footer>
		<div id="container">
	</body>
</html>